<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="~/Content/style.css">

    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/IMG/Icon.png">

    <style>
        body {
            background: #FBFBFB;
            height: 100vh;
        }

        a {
            font-size: 13px !important;
            padding: 8px 9px !important;
            transition: all .4s ease-in-out !important;
        }

        #txtCS {
            background: #fff !important;
            font-weight: 700;
        }

        .site-logo img {
            width: 90px;
            height: auto;
            display: block;
        }

        .site-menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
        }

            .site-menu ul {
                display: flex;
                align-items: center;
                margin: 0;
                padding: 0;
            }

                .site-menu ul li {
                    list-style: none;
                    margin: 0 5px;
                }

        .site-logo {
            width: 50px !important;
        }

        .custom-container {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: -50px;
        }

            .custom-container .text-content {
                max-width: 50%;
                padding: 0 20px;
            }

            .custom-container img {
                width: 540px;
                height: 700px;
                margin-top: -55px;
            }

        h1 {
            font-size: 60px;
            font-weight: 900;
            color: #000;
            margin-bottom: 20px;
            margin-top: -90px;
        }

        p {
            font-size: 22px;
            font-weight: 600;
            color: #333;
        }

            p .Negrita {
                font-weight: bold;
                color: #000;
            }

        .navigation {
            background: #fca311 !important;
        }
    </style>

</head>
<body>

    <header class="site-navbar js-sticky-header site-navbar-target" role="banner" style="background-color: #fca311;">
        <div class="container">
            <div class="row align-items-center position-relative">
                <div class="site-logo">
                    <img src="@Url.Content("~/Content/IMG/Icon.png")" alt="logo" />
                </div>
                <div class="col-12  navegation">
                    <nav class="site-navigation text-right ml-auto" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
                            <li><a href="@Url.Action("Index","Home")" class="nav-link">INICIO</a></li>
                            <li><a href="@Url.Action("Index","Maquinas")" class="nav-link">MAQUINAS</a></li>
                            <li><a href="@Url.Action("Index","Registro")" class="nav-link">ASISTENCIA</a></li>
                            <li><a href="@Url.Action("Inicio","Reporte")" class="nav-link">REPORTES</a></li>
                            <li><a href="@Url.Action("Index","Acceso")" id="txtCS" class="nav-link">CERRAR SESIÓN</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
